.category-grid {
  display: flex;
  flex-wrap: wrap;
  padding: $space-sm $space-xs;
  background: $color-surface;
  border-radius: $radius-lg;
  margin: 0 $page-padding;

  &__item {
    @include flex(flex-start, center, column);
    padding: $space-sm 0;

    &--hover {
      opacity: 0.6;
    }
  }

  &--col4 &__item {
    width: 25%;
  }

  &--col5 &__item {
    width: 20%;
  }

  &__icon-wrap {
    @include flex(center, center);
    width: 48px;
    height: 48px;
    border-radius: $radius-lg;
    background: $color-primary-bg;
  }

  &__icon {
    width: 30px;
    height: 30px;
  }

  &__name {
    margin-top: $space-xs;
    font-size: $font-caption;
    color: $color-text-secondary;
    text-align: center;
    max-width: 100%;
    @include ellipsis;
  }
}
